body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section img {
    width: 150px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .text-section img {
        width: 100px; /* Tamaño de imagen ajustado para móviles */
    }
}

/* Estilos adicionales según sea necesario */
